@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body {
  font-family: "Playfair Display", serif;
  min-height: 5000px;
}

.jumbotron {
  background-color: #7cba89;
  padding-top: 4rem;
}

.content {
  padding-left: 6rem;
}

.nav-link {
  margin: 0 1rem;
  font-size: 17px;
}

.logo {
  height: 2rem;
}

.activity {
  background-color: #7cba89;
  padding-top: 4rem;
}
