#jumbotron {
  background-color: #7cba89;
  padding-top: 5rem;
}

.nav-link {
  margin: 0 1rem;
  font-size: 17px;
}

.logo {
  height: 2rem;
}

#activities {
  background-color: #7cba89;
  padding-top: 4rem;
}

#page-footer {
  background-color: #7cba89;
}

#about {
  padding-top: 5rem;
}
